<aside>
  <div
    class="xs:flex xs:justify-center md:flex md:justify-center mb-[1vw] flex flex-col"
  >
    <p class="font-medium text-gray-400 text-xs">Publicidade</p>
    <a target="_blank" href="">
      <img
        class="lozad object-cover w-full aspect=[1/1]"
        loading="lazy"
        alt="banner"
        src="../../../../assets/images/Group 5243.png"
      />
    </a>
  </div>
  <div class="mb-[1vw]">
    <div>

    </div>
    <div class="my-[1vw] w-full"></div>
  </div>


  <div class="container-title flex items-center gap-[6px]">
    <div class="line bg-color-primary h-[1.2vw] w-[1.2vw]"></div>
    <h3 class="text-color-black font-bold text-[3vw] md:text-[1.3vw]">
      MAIS LIDAS
    </h3>
  </div>
  <div class="mb-[1vw]">
    <div class="flex items-center">
      <h1 class="h1-custom-size pr-[0.8vw]">1</h1>
      <div class="info">
        <span class="custom-bold montserrat-300 text-[2vw] md:text-[1.2vw] lg:text-[1vw] xl:text-[0.8vw] 2xl:text-[0.7vw]">
          POLÍTICA
        </span>
        <p
          class="montserrat-300 text-[3vw] md:text-[1.5vw] lg:text-[1.2vw] xl:text-[1vw] 2xl:text-[0.9vw] w-full flex flex-wrap hover:text-[#777777] cursor-pointer duration-[0.3s]">
          Juíza proibe governo Bolsonaro de celebrar golpe militar de 1964
        </p>
      </div>
    </div>
  </div>
  <div class="mb-[1vw]">
    <div class="flex items-center">
      <h1 class="h1-custom-size pr-[0.8vw]">2</h1>
      <div class="info">
        <span class="custom-bold montserrat-300 text-[2vw] md:text-[1.2vw] lg:text-[1vw] xl:text-[0.8vw] 2xl:text-[0.7vw]">
          POLÍTICA
        </span>
        <p
          class="montserrat-300 text-[3vw] md:text-[1.5vw] lg:text-[1.2vw] xl:text-[1vw] 2xl:text-[0.9vw] w-full flex flex-wrap hover:text-[#777777] cursor-pointer duration-[0.3s]">
          Juíza proibe governo Bolsonaro de celebrar golpe militar de 1964
        </p>
      </div>
    </div>
  </div>
  <div class="mb-[1vw]">
    <div class="flex items-center">
      <h1 class="h1-custom-size pr-[0.8vw]">3</h1>
      <div class="info">
        <span class="custom-bold montserrat-300 text-[2vw] md:text-[1.2vw] lg:text-[1vw] xl:text-[0.8vw] 2xl:text-[0.7vw]">
          POLÍTICA
        </span>
        <p
          class="montserrat-300 text-[3vw] md:text-[1.5vw] lg:text-[1.2vw] xl:text-[1vw] 2xl:text-[0.9vw] w-full flex flex-wrap hover:text-[#777777] cursor-pointer duration-[0.3s]">
          Juíza proibe governo Bolsonaro de celebrar golpe militar de 1964
        </p>
      </div>
    </div>
  </div>
  <div class="mb-[1vw]">
    <div class="flex items-center">
      <h1 class="h1-custom-size pr-[0.8vw]">4</h1>
      <div class="info">
        <span class="custom-bold montserrat-300 text-[2vw] md:text-[1.2vw] lg:text-[1vw] xl:text-[0.8vw] 2xl:text-[0.7vw]">
          POLÍTICA
        </span>
        <p
          class="montserrat-300 text-[3vw] md:text-[1.5vw] lg:text-[1.2vw] xl:text-[1vw] 2xl:text-[0.9vw] w-full flex flex-wrap hover:text-[#777777] cursor-pointer duration-[0.3s]">
          Juíza proibe governo Bolsonaro de celebrar golpe militar de 1964
        </p>
      </div>
    </div>
  </div>

  <div
    class="xs:flex xs:justify-center md:flex md:justify-center mb-[1vw] flex flex-col"
  >
    <p class="font-medium text-gray-400 text-xs">Publicidade</p>
    <a target="_blank" href="">
      <img
        class="lozad object-cover w-full aspect=[1/1]"
        loading="lazy"
        alt="banner"
        src="../../../../assets/images/Group 5243.png"
      />
    </a>
  </div>

    <div class="container-title flex items-center gap-[6px]">
    <div class="line bg-color-primary h-[1.2vw] w-[1.2vw]"></div>
    <h3 class="text-color-black font-bold text-[3vw] md:text-[1.3vw]">
      ÚLTIMAS NOTÍCIAS
    </h3>
  </div>
  <div class="mb-[1vw]">
    <div class="flex items-center">
      <img
        class="h-[2.5vw] pr-[0.8vw]"
        loading="lazy"
        alt="Icon"
        src="../../../../assets/images/Camada_x0020_1.png"
      />
      <div class="info">
        <span class="custom-bold montserrat-300 text-[2vw] md:text-[1.2vw] lg:text-[1vw] xl:text-[0.8vw] 2xl:text-[0.7vw]">
          POLÍTICA
        </span>
        <p
          class="montserrat-300 text-[3vw] md:text-[1.5vw] lg:text-[1.2vw] xl:text-[1vw] 2xl:text-[0.9vw] w-full flex flex-wrap hover:text-[#777777] cursor-pointer duration-[0.3s]">
          Juíza proibe governo Bolsonaro de celebrar golpe militar de 1964
        </p>
      </div>
    </div>
  </div>
  <div class="mb-[1vw]">
    <div class="flex items-center">
      <img
        class="h-[2.5vw] pr-[0.8vw]"
        loading="lazy"
        alt="Icon"
        src="../../../../assets/images/Camada_x0020_1.png"
      />
      <div class="info">
        <span class="custom-bold montserrat-300 text-[2vw] md:text-[1.2vw] lg:text-[1vw] xl:text-[0.8vw] 2xl:text-[0.7vw]">
          POLÍTICA
        </span>
        <p
          class="montserrat-300 text-[3vw] md:text-[1.5vw] lg:text-[1.2vw] xl:text-[1vw] 2xl:text-[0.9vw] w-full flex flex-wrap hover:text-[#777777] cursor-pointer duration-[0.3s]">
          Juíza proibe governo Bolsonaro de celebrar golpe militar de 1964
        </p>
      </div>
    </div>
  </div>
  <div class="mb-[1vw]">
    <div class="flex items-center">
      <img
        class="h-[2.5vw] pr-[0.8vw]"
        loading="lazy"
        alt="Icon"
        src="../../../../assets/images/Camada_x0020_1.png"
      />
      <div class="info">
        <span class="custom-bold montserrat-300 text-[2vw] md:text-[1.2vw] lg:text-[1vw] xl:text-[0.8vw] 2xl:text-[0.7vw]">
          POLÍTICA
        </span>
        <p
          class="montserrat-300 text-[3vw] md:text-[1.5vw] lg:text-[1.2vw] xl:text-[1vw] 2xl:text-[0.9vw] w-full flex flex-wrap hover:text-[#777777] cursor-pointer duration-[0.3s]">
          Juíza proibe governo Bolsonaro de celebrar golpe militar de 1964
        </p>
      </div>
    </div>
  </div>
  <div class="mb-[1vw]">
    <div class="flex items-center">
      <img
        class="h-[2.5vw] pr-[0.8vw]"
        loading="lazy"
        alt="Icon"
        src="../../../../assets/images/Camada_x0020_1.png"
      />
      <div class="info">
        <span class="custom-bold montserrat-300 text-[2vw] md:text-[1.2vw] lg:text-[1vw] xl:text-[0.8vw] 2xl:text-[0.7vw]">
          POLÍTICA
        </span>
        <p
          class="montserrat-300 text-[3vw] md:text-[1.5vw] lg:text-[1.2vw] xl:text-[1vw] 2xl:text-[0.9vw] w-full flex flex-wrap hover:text-[#777777] cursor-pointer duration-[0.3s]">
          Juíza proibe governo Bolsonaro de celebrar golpe militar de 1964
        </p>
      </div>
    </div>
  </div>
</aside>
