<footer>
  <div class="main-footer">
    <div class="block text-white container mx-auto">
      <div class="container-sections py-[1.2vw]">
        <div class="info-corporation p-2">
          <a href="/">
            <img 
              alt="Logo Portal Stylo" 
              loading="lazy" 
              class="brand" 
              src="https://cmsnews.dix.digital/storage/settings/xPxjhdco5NFg2s82RAhkT3reAsrCQGiWWlitUvw8.png">
          </a>
          <p>Seu destino para informações confiáveis, atualizadas e relevantes. Mantenha-se informado com notícias de diversas áreas e explore análises aprofundadas, entrevistas exclusivas e conteúdos envolventes</p>
        </div>
        <div class="links p-2">
          <h4 class="font-semibold">Transparência</h4>
          <ul>
            <li><a href="/privacy">Políticas de Privacidade</a></li>
            <li><a href="/terms">Termos de Uso</a></li>
          </ul>
          <h4 class="font-semibold text-sm">Acesso Interno</h4>
          <ul>
            <li><a href="https://cmsnews.dix.digital/login" target="_blank">Painel Administrativo</a></li>
            <li><a href="https://gmail.com" target="_blank">Webmail</a></li>
            <li class="cursor-pointer">
              <button class="text-center text-white leading-normal font-normal text-[0.9vw] bg-[#CC0000] duration-300 hover:opacity-70 rounded-[12px] justify-center items-center py-2 px-8 mt-8">Comunicar Erro</button>
            </li>
          </ul>
        </div>
        <div class="links p-2">
          <h4 class="font-semibold text-sm">Mapa do Site</h4>
          <ul>
            <li><a class="text-white" href="/">Home</a></li>
            <li><a href="/noticias/46/Pol%C3%ADtica">Política</a></li>
            <li><a href="/noticias/47/Estado">Saúde</a></li>
          </ul>
        </div>
        <div class="p-2">
          <h4 class="font-semibold">Redes Sociais</h4>
          <figure class="flex items-center justify-center">
            <div>
              <ul class="contact flex justify-center flex-col items-center">
                <a href="mailto:portalstylo&#64;gmail.com">
                  <li class="text-[#a1a1a1] hover:text-white duration-300 xs:text-[14px] md:text-[0.8vw] my-[0.5vw]">
                    <i class="bi bi-envelope"></i> portalstylo&#64;gmail.com
                  </li>
                </a>
                <a class="cursor-pointer" href="tel:6332153890">
                  <li class="text-[#a1a1a1] hover:text-white duration-300 xs:text-[14px] md:text-[0.8vw] mt-[0.5vw] mb-[1vw] cursor-pointer">
                    <i class="bi bi-phone-fill"></i> (63) 3215-3890
                  </li>
                </a>
              </ul>
            </div>
          </figure>
          <ul class="social-media flex items-center justify-center">
            <li>
              <a href="https://www.instagram.com/">
                <i class="bi bi-instagram xs:text-[18px] md:text-[1.27vw] mx-[0.6vw] text-color-grey hover:text-white transition duration-600"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="bi bi-twitter xs:text-[18px] md:text-[1.27vw] mx-[0.6vw] text-color-grey hover:text-white transition duration-600"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/">
                <i class="bi bi-facebook xs:text-[18px] md:text-[1.27vw] mx-[0.6vw] text-color-grey hover:text-white transition duration-600"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/">
                <i class="bi bi-youtube xs:text-[18px] md:text-[1.27vw] mx-[0.6vw] text-color-grey hover:text-white transition duration-600"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="secondary-footer container-fluid">
      <article class="container py-2 mx-auto">
        <p class="text-white text-start" style="margin: 0px;"> © Copyright 2023 Portal Stylo. Todos os direitos reservados</p>
        <p class="text-white">V 01.01.01</p>
        <a href="https://dix.digital/" target="blank" class="text-white text-end"> Desenvolvido por 
          <img src="https://dix.digital/wp-content/uploads/2021/09/Vertical-01.svg" alt="Logo Dix Digital" loading="lazy" class="dix-logo w-8">
        </a>
      </article>
    </div>
  </div>
</footer>
