<section>
  <div
    class="container bg-white mx-auto md:border-2 md:border-[#f5f5f5] md:shadow-lg"
  >
    <div class="container-notices mt-6">
      <div>
        <p class="font-medium text-gray-400 text-xs">Publicidade</p>
        <img
          loading="lazy"
          alt="midia"
          src="../../../../assets/images/Group 1539.png"
        />
      </div>
      <div class="grid md:grid-cols-3 md:gap-[1.6vw] grid-cols-1">
        <div class="col-span-2 mt-2 xl:mt-5">
          <div>
            <ng-content></ng-content>
          </div>
          <div>
            <p class="font-medium text-gray-400 text-xs">Publicidade</p>
            <div class="relative">
              <div class="bottom-0 left-0 right-0 grid grid-cols-3 gap-4">
                <div class="flex justify-center">
                  <img
                    loading="lazy"
                    alt="propaganda"
                    src="../../../../assets/images/Propaganda 2.png"
                  />
                </div>
                <div class="flex justify-center">
                  <img
                    loading="lazy"
                    alt="propaganda"
                    src="../../../../assets/images/Propaganda 1.png"
                  />
                </div>
                <div class="flex justify-center">
                  <img
                    loading="lazy"
                    alt="propaganda"
                    src="../../../../assets/images/Propaganda 2.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-1 md:mt-0 xs:mt-[2vw]">
          <app-aside></app-aside>
        </div>
      </div>
    </div>
  </div>
</section>
